<a href="https://colab.research.google.com/github/ejesha01/Python-Practices/blob/main/py1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
print(sys.version)

3.11.11 (main, Dec  4 2024, 08:55:07) [GCC 11.4.0]

In [10]:
if 5>2:
   print("Five is greater than two!") #python required identation as space

Five is greater than two!

In [16]:
a= "Apples"
b= "Banana"
print(a,b)

Apples Banana

In [17]:
x=3
x='okay'
print(x)

okay

In [23]:
x = str(3.3)    # x will be '3'anything(number or words)
y = int(4)    # y will be only integer numbers
z = float(3)  # z will be 3.0(float numbers)
print(x,y,z)

3.3 4 3.0

In [30]:
x, y, z = "Orange", "Banana", "Cherry"
print(z,z)
print(z,z,z,z,z,z,z,z,z,z,z,z)

Cherry Cherry
Cherry Cherry Cherry Cherry Cherry Cherry Cherry Cherry Cherry Cherry Cherry Cherry

In [32]:
x = y = z = "Orange"
print(x,x,x,x,x,x,x)
print(y)
print(z)

Orange Orange Orange Orange Orange Orange Orange
Orange
Orange

In [37]:
fruits = ["apple", "banana"]
x, y = fruits
print(fruits)
print(y,x)

['apple', 'banana']
banana apple

In [38]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [41]:
x = "Python"
y = "is"
z = "awesome"
print(x,y,z)

Python is awesome

In [42]:
x = 5
y = "John"
print(x, y)

5 John